// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg: "@theme_fg_color";
$bg: "@theme_bg_color";

window.Bar {
  background: transparent;
  color: #{$bg};
  font-weight: bold;

  > centerbox {
    background: #{$bg};
    padding: 8px;
    // border-radius: 10px;
    // margin: 8px;
  }

  button {
    border-radius: 8px;
    margin-bottom: 8px;
  }

  button.focused {
    background: #{$fg};
    color: #{$bg};
  }

  .time {
    font-family: monospace;
  }
}
